[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
pandas = "*"
scikit-learn = "*"
xgboost = "*"
numpy = "*"
jupyter = "*"
pyspark = "*"
findspark = "*"
dask = {extras = ["dataframe"],version = "*"}
ipykernel = "*"

[requires]
python_version = "3.7"
